{
  "mcpServers": {
    "watsonx-orchestrate-adk": {
      "command": "ibm-watsonx-orchestrate-mcp-server",
      "env": {
        "WXO_MCP_WORKING_DIRECTORY": "__PROJECT_FOLDER__"
      }
    },
    "watsonx-orchestrate-adk-docs": {
      "url": "https://developer.watson-orchestrate.ibm.com/mcp"
    }
  }
}
