{
  "mcpServers": {
    "watsonx-orchestrate-adk": {
      "type": "stdio",
      "command": "ibm-watsonx-orchestrate-mcp-server",
      "args": [],
      "env": {
        "WXO_MCP_WORKING_DIRECTORY": "__PROJECT_FOLDER__"
      },
      "timeout": 120,
      "alwaysAllow": [
        "check_version",
        "list_agents",
        "list_tools",
        "list_toolkits",
        "list_knowledge_bases",
        "check_knowledge_base_status",
        "list_connections",
        "list_models",
        "list_channel_types",
        "list_channels",
        "list_available_skills",
        "get_tool_template",
        "export_agent",
        "export_tool",
        "export_toolkit",
        "chat_with_agent"
      ]
    },
    "watsonx-orchestrate-adk-docs": {
      "type": "streamable-http",
      "url": "https://developer.watson-orchestrate.ibm.com/mcp",
      "alwaysAllow": [
        "search_ibm_watsonx_orchestrate_adk",
        "query_docs_filesystem_ibm_watsonx_orchestrate_adk"
      ]
    }
  }
}
